:root {
 

  --color-dark--1: #2d3439;
  --color-dark--2: #42484d;
  --color-light--1: #aaa;
  --color-light--2: #ececec;
  --color-light--3: rgb(214, 222, 224);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  color: var(--color-light--2);
  font-weight: 400;
  line-height: 1.6;
  height: 100vh;
  /* overscroll-behavior-y: none; */

  background-color: #fff;

  display: flex;
}

/* GENERAL */
a:link,
a:visited {
  color: var(--color-brand--1);
}

/* SIDEBAR */
.sidebar {
  flex-basis: 50rem;
  background-color: var(--color-dark--1);
  padding: 2.5rem 2.5rem 3.5rem 2.5rem;
  display: flex;
  flex-direction: column;
}

.logo {
  width: 25rem;
  align-self: center;
  margin-bottom: -3rem;
}

.foods {
  position: relative;
  list-style: none;
  height: 77vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.foods::-webkit-scrollbar {
  width: 0;
}

.food {
  background-color: var(--color-dark--2);
  border-radius: 5px;
  padding: 1.5rem 2.25rem;
  margin-bottom: 1.75rem;
  height: 12rem;
  cursor: pointer;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.75rem 1.5rem;
}
.food--fastfood {
  background-image: url("/fastfood.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.food--restaurant {
  background-image: url("/rest.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.food__title {
  font-size: 1.7rem;

  grid-column: 1 / -1;
  color: #eaeef1;
  font-weight: bold;
}

.food__details {
  display: flex;
  align-items: baseline;
  font-weight: 700;
}

.food__icon {
  font-size: 1.8rem;
  margin-right: 0.2rem;
  height: 0.28rem;
}

.food__value {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.food__unit {
  font-size: 1.1rem;
  color: var(--color-light--1);
  text-transform: uppercase;
  font-weight: 800;
}

.form {
  background-color: var(--color-dark--2);
  border-radius: 5px;
  padding: 1.5rem 2.75rem;
  margin-bottom: 1.75rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem 2.5rem;

  /* Match height and activity boxes */
  height: 9.25rem;
  transition: all 0.5s, transform 1ms;
}

.form.hidden {
  transform: translateY(-30rem);
  height: 0;
  padding: 0 2.25rem;
  margin-bottom: 0;
  opacity: 0;
}

.form__row {
  display: flex;
  align-items: center;
}

.form__row--hidden {
  display: none;
}

.form__label {
  flex: 0 0 35%;
  font-size: 1.5rem;
  font-weight: 600;
}

.form__input {
  width: 100%;
  padding: 0.1rem 0.5rem;
  font-family: inherit;
  font-size: 1.4rem;
  border: none;
  border-radius: 3px;
  background-color: var(--color-light--3);
  transition: all 0.2s;
}

.form__input--type {
  width: 100%;
}

.form__input:focus {
  outline: none;
  background-color: #fff;
}

.form__btn {
  display: none;
}

/* MAP */
#map {
  flex: 1;
  height: 100%;
  background-color: var(--color-light--1);
}

/* Popup width is defined in JS using options */
.leaflet-popup .leaflet-popup-content-wrapper {
  background-color: var(--color-dark--1);
  color: var(--color-light--2);
  border-radius: 5px;
  font-weight: 400;
}

.leaflet-popup .leaflet-popup-content {
  font-size: 1.5rem;
}

.leaflet-popup .leaflet-popup-tip {
  background-color: var(--color-dark--1);
}



/* clear data */

.delete__btn {

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.btn {
  position: relative;
  width: 155px;
  height: 50px;
  margin: 20px;
}

.btn a {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.051);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  border-top: 1px solid rgba(250, 52, 52, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  z-index: 10;
  color: #fff;
  border-radius: 30px;
  font-weight: 400;
  letter-spacing: 1px;
  text-decoration: none;
  transition: 0.5s;
  overflow: hidden;
  backdrop-filter: blur(15px);
}

.btn:hover a {
  letter-spacing: 3px;
  font-weight: bold;
}

.btn a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(to left, rgba(255, 255, 255, 0.149), transparent);
  transform: skewX(45deg);
  transition: 0.5s;
  transition-delay: 0.5s;
}

a:hover::before {
  transform: skewX(45deg) translateX(200%);
  transition-delay: 0s;
}

.btn:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background: #F185F1;
  bottom: -5px;
  width: 30px;
  height: 10px;
  border-radius: 10px;
  transition: 0.5s;
  transition-delay: 0s;
}

.btn:hover::before {
  bottom: 0px;
  height: 50%;
  width: 80%;
  border-radius: 30px;
  transition-delay: 0.5s;
}

.btn:after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background: #F185F1;
  top: -5px;
  width: 30px;
  height: 10px;
  border-radius: 10px;
  transition: 0.5s;
  transition-delay: 0s;
}

.btn:hover::after {
  top: 0px;
  height: 50%;
  width: 80%;
  border-radius: 30px;
  transition-delay: 0.5s;
}

.btn:nth-child(1):before,
.btn:nth-child(1):after {
  background: #F185F1;
  box-shadow: 0 0 5px #F185F1, 0 0 15px #F185F1, 0 0 30px #F185F1,
    0 0 60px #F185F1;
}



@media screen and (max-width: 995px) {


  body {
    flex-direction: column;
  }

  .sidebar {
    height: 50%;
    padding: 2.5rem 2.5rem 0rem 2.5rem;
  }

  #map {
    flex: -1;
  }

  .foods {
    margin-left: 10rem;
    margin-right: 10rem;
  }

  
}

@media screen and (max-width: 700px) {
  .foods {
    margin-left: 5rem;
    margin-right: 5rem;
  }
}

@media screen and (max-width: 576px) {
  .foods {
    margin-left: 0;
    margin-right: 0;
  }
}
